body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}
input[type="text"], input[type="password"] {
    height: 32px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0 10px;
}
button {
    background-color: #D31024;
    color: white;
    font-size: 16px;
    height: 32px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
table{
width: 100%;
border-collapse: collapse;
}

thead{
    background-color: #cfcfcf;
}

thead th{
    border-bottom: 2px solid #000;
}

img {
    width: 300px;
    height: auto;
}